USE [master]
GO
/****** Object:  Database [QuanLyBanHang]    Script Date: 1/14/2017 1:24:33 PM ******/
CREATE DATABASE [QuanLyBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyBanHang.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyBanHang_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanHang]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MaBoPhan] [varchar](20) NOT NULL,
	[TenBoPhan] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TinhTrang] [bit] NOT NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[MaBoPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETKHO]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETKHO](
	[MaKhoHang] [varchar](20) NOT NULL,
	[MaHangHoa] [varchar](20) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_CHITIETKHO] PRIMARY KEY CLUSTERED 
(
	[MaKhoHang] ASC,
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUBANHANG]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUBANHANG](
	[MaPhieuBan] [varchar](20) NOT NULL,
	[MaHangHoa] [varchar](20) NOT NULL,
	[DonVi] [varchar](20) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ChietKhau] [float] NULL,
 CONSTRAINT [PK_CHITIETPHIEUBANHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuBan] ASC,
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUCHUYENKHO]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUCHUYENKHO](
	[MaPhieuChuyen] [varchar](20) NOT NULL,
	[MaHangHoa] [varchar](20) NOT NULL,
	[DonVi] [varchar](20) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_CHITIETPHIEUCHUYENKHO] PRIMARY KEY CLUSTERED 
(
	[MaPhieuChuyen] ASC,
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAPHANG]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAPHANG](
	[MaPhieuNhap] [varchar](20) NOT NULL,
	[MaHangHoa] [varchar](20) NOT NULL,
	[DonVi] [varchar](20) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ChietKhau] [float] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[MaDonVi] [varchar](20) NOT NULL,
	[TenDonVi] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_DONVITINH] PRIMARY KEY CLUSTERED 
(
	[MaDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MaHangHoa] [varchar](20) NOT NULL,
	[TenHangHoa] [nvarchar](50) NULL,
	[KieuHangHoa] [nvarchar](50) NULL,
	[NhomHang] [varchar](20) NULL,
	[MaVach] [varchar](50) NULL,
	[DonVi] [varchar](20) NULL,
	[XuatXu] [nvarchar](50) NULL,
	[TonKhoToiThieu] [int] NULL,
	[TonHienTai] [int] NULL,
	[NhaCungCap] [varchar](20) NULL,
	[GiaMua] [money] NULL,
	[GiaBanLe] [money] NULL,
	[GiaBanSi] [money] NULL,
	[LoaiTien] [varchar](3) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [varchar](20) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[NguoiLienHe] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[LoaiKhachHang] [varchar](20) NULL,
	[KhuVuc] [varchar](20) NULL,
	[DienThoai] [varchar](13) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](20) NULL,
	[Website] [varchar](20) NULL,
	[MaSoThue] [varchar](20) NULL,
	[SoTaiKhoan] [varchar](20) NULL,
	[NganHang] [nvarchar](50) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MaKhoHang] [varchar](20) NOT NULL,
	[KiHieu] [varchar](20) NULL,
	[TenKhoHang] [nvarchar](50) NULL,
	[NguoiQuanLi] [varchar](20) NULL,
	[NguoiLienHe] [varchar](20) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [varchar](13) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](20) NULL,
	[DienGiai] [nvarchar](50) NULL,
	[TinhTrang] [bit] NOT NULL,
 CONSTRAINT [PK_KHOHANG] PRIMARY KEY CLUSTERED 
(
	[MaKhoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MaKhuVuc] [varchar](20) NOT NULL,
	[TenKhuVuc] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_KHUVUC] PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[MaLoaiKhachHang] [varchar](20) NOT NULL,
	[TenLoaiKhachHang] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_LOAIKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaNguoiDung] [varchar](20) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NULL,
	[MatKhau] [varchar](20) NULL,
	[TinhTrang] [bit] NULL,
	[NhoMatKhau] [bit] NULL,
	[MaNhanVien] [varchar](20) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNhaCungCap] [varchar](20) NOT NULL,
	[TenNhaCungCap] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[KhuVuc] [varchar](20) NULL,
	[DienThoai] [varchar](13) NULL,
	[Fax] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
	[Website] [varchar](20) NULL,
	[MaSoThue] [varchar](20) NULL,
	[SoTaiKhoan] [varchar](20) NULL,
	[NganHang] [nvarchar](50) NULL,
	[NoHienTai] [float] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [varchar](20) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Emai] [varchar](20) NULL,
	[DienThoai] [varchar](13) NULL,
	[BoPhan] [varchar](20) NULL,
	[NguoiQuanLi] [varchar](20) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHATKYHETHONG]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHATKYHETHONG](
	[MaNguoiDung] [varchar](20) NULL,
	[MayTinh] [varchar](20) NULL,
	[ThoiGian] [datetime] NULL,
	[ChucNang] [nvarchar](50) NULL,
	[HanhDong] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMHANGHOA]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMHANGHOA](
	[MaNhomHang] [varchar](20) NOT NULL,
	[TenNhomHang] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_NHOMHANGHOA] PRIMARY KEY CLUSTERED 
(
	[MaNhomHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[TenNhom] [nvarchar](50) NOT NULL,
	[TenChucNang] [nvarchar](50) NOT NULL,
	[MaNguoiDung] [varchar](20) NOT NULL,
	[ChoPhepThem] [bit] NULL,
	[ChoPhepXoa] [bit] NULL,
	[ChoPhepSua] [bit] NULL,
	[ChoPhepTruyCap] [bit] NULL,
	[ChoPhepIn] [bit] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[TenNhom] ASC,
	[TenChucNang] ASC,
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUBANHANG]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUBANHANG](
	[MaPhieuBan] [varchar](20) NOT NULL,
	[MaKhachHang] [varchar](20) NULL,
	[NgayBan] [datetime] NULL,
	[NhanVienBan] [varchar](20) NULL,
	[KhoXuat] [varchar](20) NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[TongTien] [money] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_PHIEUBANHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUCHUYENKHO]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUCHUYENKHO](
	[MaPhieuChuyen] [varchar](20) NOT NULL,
	[NgayChuyen] [datetime] NULL,
	[KhoXuat] [varchar](20) NULL,
	[KhoNhap] [varchar](20) NULL,
	[NguoiChuyen] [varchar](20) NULL,
	[NguoiNhan] [varchar](20) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TongTien] [money] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_PHIEUCHUYENKHO] PRIMARY KEY CLUSTERED 
(
	[MaPhieuChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MaPhieuNhap] [varchar](20) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[NhanVienNhap] [varchar](20) NULL,
	[KhoNhap] [varchar](20) NULL,
	[HanThanhToan] [datetime] NULL,
	[NhaCungCap] [varchar](20) NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[TongTien] [money] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYGIA]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYGIA](
	[MaTienTe] [varchar](3) NOT NULL,
	[TenTienTe] [nvarchar](50) NULL,
	[TyGiaQuyDoi] [money] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_TYGIA] PRIMARY KEY CLUSTERED 
(
	[MaTienTe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BOPHAN] ([MaBoPhan], [TenBoPhan], [GhiChu], [TinhTrang]) VALUES (N'GD', N'Giám Đốc', N'', 1)
INSERT [dbo].[BOPHAN] ([MaBoPhan], [TenBoPhan], [GhiChu], [TinhTrang]) VALUES (N'KD', N'Phòng Kinh Doanh', N'', 1)
INSERT [dbo].[BOPHAN] ([MaBoPhan], [TenBoPhan], [GhiChu], [TinhTrang]) VALUES (N'KT', N'Phòng kế toán', N'', 1)
INSERT [dbo].[DONVITINH] ([MaDonVi], [TenDonVi], [GhiChu], [TinhTrang]) VALUES (N'DV000029', N'Hệ thống', N'', 1)
INSERT [dbo].[DONVITINH] ([MaDonVi], [TenDonVi], [GhiChu], [TinhTrang]) VALUES (N'DV01', N'bình', N'', 1)
INSERT [dbo].[DONVITINH] ([MaDonVi], [TenDonVi], [GhiChu], [TinhTrang]) VALUES (N'DV02', N'bộ', N'', 1)
INSERT [dbo].[HANGHOA] ([MaHangHoa], [TenHangHoa], [KieuHangHoa], [NhomHang], [MaVach], [DonVi], [XuatXu], [TonKhoToiThieu], [TonHienTai], [NhaCungCap], [GiaMua], [GiaBanLe], [GiaBanSi], [LoaiTien], [HinhAnh], [TinhTrang]) VALUES (N'HH000001', N'Hàng mới', N'Hàng mẫu', N'ANS', N'anxhh001', N'DV01', N'VN', 10, 0, N'NCC000001', 10.0000, 12.0000, 11.0000, N'VND', NULL, 1)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [NguoiLienHe], [DiaChi], [LoaiKhachHang], [KhuVuc], [DienThoai], [Fax], [Email], [Website], [MaSoThue], [SoTaiKhoan], [NganHang], [TinhTrang]) VALUES (N'KH000001', N'Nguyễn Đình Duy', N'Duy', N'HCM', N'KHHM', N'KV000001', N'0969787009', N'123', N'abc@gmail.com', N'123', N'12345', N'678', N'Agribank', 1)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [NguoiLienHe], [DiaChi], [LoaiKhachHang], [KhuVuc], [DienThoai], [Fax], [Email], [Website], [MaSoThue], [SoTaiKhoan], [NganHang], [TinhTrang]) VALUES (N'KH000002', N'Trần A Mùi', N'HUY', N'HVM', N'KHHM', N'KV000002', N'789', N'345', N'mui@gmail.com', N'àhjkk', N'345', N'2345432', N'dè', 1)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [NguoiLienHe], [DiaChi], [LoaiKhachHang], [KhuVuc], [DienThoai], [Fax], [Email], [Website], [MaSoThue], [SoTaiKhoan], [NganHang], [TinhTrang]) VALUES (N'KH000003', N'Trịnh Văn Thịnh', N'Nam', N'HCM', N'KHHM', N'KV000001', N'0969787009', N'3242', N'mail@gmail.com', N'Trinhthinh', N'234', N'12444', N'viettel', 1)
INSERT [dbo].[KHOHANG] ([MaKhoHang], [KiHieu], [TenKhoHang], [NguoiQuanLi], [NguoiLienHe], [DiaChi], [DienThoai], [Fax], [Email], [DienGiai], [TinhTrang]) VALUES (N'CT', NULL, N'Kho công ty', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[KHOHANG] ([MaKhoHang], [KiHieu], [TenKhoHang], [NguoiQuanLi], [NguoiLienHe], [DiaChi], [DienThoai], [Fax], [Email], [DienGiai], [TinhTrang]) VALUES (N'CT2', NULL, N'Kho Hà Nội', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[KHOHANG] ([MaKhoHang], [KiHieu], [TenKhoHang], [NguoiQuanLi], [NguoiLienHe], [DiaChi], [DienThoai], [Fax], [Email], [DienGiai], [TinhTrang]) VALUES (N'CT3', NULL, N'Kho Phạm Văn Hai', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[KHUVUC] ([MaKhuVuc], [TenKhuVuc], [GhiChu], [TinhTrang]) VALUES (N'KV000001', N'Miền Nam', N'', 1)
INSERT [dbo].[KHUVUC] ([MaKhuVuc], [TenKhuVuc], [GhiChu], [TinhTrang]) VALUES (N'KV000002', N'Miền Bắc', N'', 1)
INSERT [dbo].[KHUVUC] ([MaKhuVuc], [TenKhuVuc], [GhiChu], [TinhTrang]) VALUES (N'KV000003', N'Miền trung', N'', 1)
INSERT [dbo].[LOAIKHACHHANG] ([MaLoaiKhachHang], [TenLoaiKhachHang], [GhiChu], [TinhTrang]) VALUES (N'KHHM', N'Khách hàng hỏi mua', N'', 1)
INSERT [dbo].[LOAIKHACHHANG] ([MaLoaiKhachHang], [TenLoaiKhachHang], [GhiChu], [TinhTrang]) VALUES (N'KHTN', N'Khách hàng tiềm năng', N'', 1)
INSERT [dbo].[LOAIKHACHHANG] ([MaLoaiKhachHang], [TenLoaiKhachHang], [GhiChu], [TinhTrang]) VALUES (N'KHTX', N'Khách hàng thường xuyên', N'', 1)
INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenNguoiDung], [MatKhau], [TinhTrang], [NhoMatKhau], [MaNhanVien]) VALUES (N'US000001', N'admin', N'7CC3AC058E8DA675476', 1, 1, N'NV000001')
INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenNguoiDung], [MatKhau], [TinhTrang], [NhoMatKhau], [MaNhanVien]) VALUES (N'US000002', N'duynguyen', N'duynguyen', 1, 1, NULL)
INSERT [dbo].[NHACUNGCAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [KhuVuc], [DienThoai], [Fax], [Email], [Website], [MaSoThue], [SoTaiKhoan], [NganHang], [NoHienTai], [TinhTrang]) VALUES (N'NCC000001', N'Công ty CP Minh An', NULL, N'KV000002', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[NHACUNGCAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [KhuVuc], [DienThoai], [Fax], [Email], [Website], [MaSoThue], [SoTaiKhoan], [NganHang], [NoHienTai], [TinhTrang]) VALUES (N'NCC000002', N'Công ty MINH TÍN', N'Q8', N'KV000001', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[NHACUNGCAP] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [KhuVuc], [DienThoai], [Fax], [Email], [Website], [MaSoThue], [SoTaiKhoan], [NganHang], [NoHienTai], [TinhTrang]) VALUES (N'NCC000003', N'Công ty ESACO', NULL, N'KV000001', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [TenNhanVien], [ChucVu], [DiaChi], [Emai], [DienThoai], [BoPhan], [NguoiQuanLi], [TinhTrang]) VALUES (N'NV000001', N'Nguyễn Thị Minh  Huệ', NULL, NULL, N'huenguyen@hptvn.com', N'0946 980 408', N'KD', NULL, 1)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [TenNhanVien], [ChucVu], [DiaChi], [Emai], [DienThoai], [BoPhan], [NguoiQuanLi], [TinhTrang]) VALUES (N'NV000002', N'Phan Quang Thông', N'Phó Giám Ðốc', NULL, N'quangthong@hptvn.com', N'0946 980 409', N'KD', NULL, 1)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [TenNhanVien], [ChucVu], [DiaChi], [Emai], [DienThoai], [BoPhan], [NguoiQuanLi], [TinhTrang]) VALUES (N'NV000003', N'Nguyễn Hoàng Dũng', N'TP Kỹ Thuật', NULL, N'hoangdung@hptvn.com', N'0946 980 407', N'KTH', NULL, 1)
INSERT [dbo].[NHOMHANGHOA] ([MaNhomHang], [TenNhomHang], [GhiChu], [TinhTrang]) VALUES (N'ANS', N'An ninh siêu thị', N'', 1)
INSERT [dbo].[NHOMHANGHOA] ([MaNhomHang], [TenNhomHang], [GhiChu], [TinhTrang]) VALUES (N'BAT', N'Báo trộm, báo cháy', N'', 1)
INSERT [dbo].[NHOMHANGHOA] ([MaNhomHang], [TenNhomHang], [GhiChu], [TinhTrang]) VALUES (N'CAM', N'Camera quan sát', N'', 1)
INSERT [dbo].[PHANQUYEN] ([TenNhom], [TenChucNang], [MaNguoiDung], [ChoPhepThem], [ChoPhepXoa], [ChoPhepSua], [ChoPhepTruyCap], [ChoPhepIn], [TinhTrang]) VALUES (N'Chức năng', N'Mua hàng', N'US000001', 1, 1, 1, 1, 1, 1)
INSERT [dbo].[PHANQUYEN] ([TenNhom], [TenChucNang], [MaNguoiDung], [ChoPhepThem], [ChoPhepXoa], [ChoPhepSua], [ChoPhepTruyCap], [ChoPhepIn], [TinhTrang]) VALUES (N'Danh mục', N'Bộ phận', N'US000001', 1, 1, 1, 1, 1, 1)
INSERT [dbo].[PHANQUYEN] ([TenNhom], [TenChucNang], [MaNguoiDung], [ChoPhepThem], [ChoPhepXoa], [ChoPhepSua], [ChoPhepTruyCap], [ChoPhepIn], [TinhTrang]) VALUES (N'Danh mục', N'Đơn vị tính', N'US000001', 1, 1, 1, 1, 1, 1)
INSERT [dbo].[TYGIA] ([MaTienTe], [TenTienTe], [TyGiaQuyDoi], [TinhTrang]) VALUES (N'EUR', N'Đồng tiền chung EU', 17988.0000, 1)
INSERT [dbo].[TYGIA] ([MaTienTe], [TenTienTe], [TyGiaQuyDoi], [TinhTrang]) VALUES (N'GBP', N'Bang Anh', 26149.0000, 1)
INSERT [dbo].[TYGIA] ([MaTienTe], [TenTienTe], [TyGiaQuyDoi], [TinhTrang]) VALUES (N'USD', N'Dola My', 20000.0000, 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_NGUOIDUNG]    Script Date: 1/14/2017 1:24:34 PM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [UK_NGUOIDUNG] UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHO_HANGHOA] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HANGHOA] ([MaHangHoa])
GO
ALTER TABLE [dbo].[CHITIETKHO] CHECK CONSTRAINT [FK_CHITIETKHO_HANGHOA]
GO
ALTER TABLE [dbo].[CHITIETKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHO_KHOHANG] FOREIGN KEY([MaKhoHang])
REFERENCES [dbo].[KHOHANG] ([MaKhoHang])
GO
ALTER TABLE [dbo].[CHITIETKHO] CHECK CONSTRAINT [FK_CHITIETKHO_KHOHANG]
GO
ALTER TABLE [dbo].[CHITIETPHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUBANHANG_DONVITINH] FOREIGN KEY([DonVi])
REFERENCES [dbo].[DONVITINH] ([MaDonVi])
GO
ALTER TABLE [dbo].[CHITIETPHIEUBANHANG] CHECK CONSTRAINT [FK_CHITIETPHIEUBANHANG_DONVITINH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUBANHANG_HANGHOA] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HANGHOA] ([MaHangHoa])
GO
ALTER TABLE [dbo].[CHITIETPHIEUBANHANG] CHECK CONSTRAINT [FK_CHITIETPHIEUBANHANG_HANGHOA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUBANHANG_PHIEUBANHANG] FOREIGN KEY([MaPhieuBan])
REFERENCES [dbo].[PHIEUBANHANG] ([MaPhieuBan])
GO
ALTER TABLE [dbo].[CHITIETPHIEUBANHANG] CHECK CONSTRAINT [FK_CHITIETPHIEUBANHANG_PHIEUBANHANG]
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUCHUYENKHO_DONVITINH] FOREIGN KEY([DonVi])
REFERENCES [dbo].[DONVITINH] ([MaDonVi])
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO] CHECK CONSTRAINT [FK_CHITIETPHIEUCHUYENKHO_DONVITINH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUCHUYENKHO_HANGHOA] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HANGHOA] ([MaHangHoa])
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO] CHECK CONSTRAINT [FK_CHITIETPHIEUCHUYENKHO_HANGHOA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUCHUYENKHO_PHIEUCHUYENKHO] FOREIGN KEY([MaPhieuChuyen])
REFERENCES [dbo].[PHIEUCHUYENKHO] ([MaPhieuChuyen])
GO
ALTER TABLE [dbo].[CHITIETPHIEUCHUYENKHO] CHECK CONSTRAINT [FK_CHITIETPHIEUCHUYENKHO_PHIEUCHUYENKHO]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPHANG_DONVITINH] FOREIGN KEY([DonVi])
REFERENCES [dbo].[DONVITINH] ([MaDonVi])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPHANG_DONVITINH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPHANG_HANGHOA] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HANGHOA] ([MaHangHoa])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPHANG_HANGHOA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPHANG_PHIEUNHAPHANG] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPHANG_PHIEUNHAPHANG]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_DONVITINH] FOREIGN KEY([DonVi])
REFERENCES [dbo].[DONVITINH] ([MaDonVi])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_DONVITINH]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHACUNGCAP] FOREIGN KEY([NhaCungCap])
REFERENCES [dbo].[NHACUNGCAP] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHOMHANGHOA] FOREIGN KEY([NhomHang])
REFERENCES [dbo].[NHOMHANGHOA] ([MaNhomHang])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NHOMHANGHOA]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_TYGIA] FOREIGN KEY([LoaiTien])
REFERENCES [dbo].[TYGIA] ([MaTienTe])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_TYGIA]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_KHUVUC] FOREIGN KEY([KhuVuc])
REFERENCES [dbo].[KHUVUC] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_KHUVUC]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_LOAIKHACHHANG] FOREIGN KEY([LoaiKhachHang])
REFERENCES [dbo].[LOAIKHACHHANG] ([MaLoaiKhachHang])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_LOAIKHACHHANG]
GO
ALTER TABLE [dbo].[KHOHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHOHANG_NHANVIEN] FOREIGN KEY([NguoiQuanLi])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[KHOHANG] CHECK CONSTRAINT [FK_KHOHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[KHOHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHOHANG_NHANVIEN1] FOREIGN KEY([NguoiLienHe])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[KHOHANG] CHECK CONSTRAINT [FK_KHOHANG_NHANVIEN1]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGCAP_KHUVUC] FOREIGN KEY([KhuVuc])
REFERENCES [dbo].[KHUVUC] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [FK_NHACUNGCAP_KHUVUC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([BoPhan])
REFERENCES [dbo].[BOPHAN] ([MaBoPhan])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NHANVIEN] FOREIGN KEY([NguoiQuanLi])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_NGUOIDUNG] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOIDUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_NGUOIDUNG]
GO
ALTER TABLE [dbo].[PHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBANHANG_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PHIEUBANHANG] CHECK CONSTRAINT [FK_PHIEUBANHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBANHANG_KHOHANG] FOREIGN KEY([KhoXuat])
REFERENCES [dbo].[KHOHANG] ([MaKhoHang])
GO
ALTER TABLE [dbo].[PHIEUBANHANG] CHECK CONSTRAINT [FK_PHIEUBANHANG_KHOHANG]
GO
ALTER TABLE [dbo].[PHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBANHANG_NHANVIEN] FOREIGN KEY([NhanVienBan])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUBANHANG] CHECK CONSTRAINT [FK_PHIEUBANHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHUYENKHO_KHOHANG] FOREIGN KEY([KhoXuat])
REFERENCES [dbo].[KHOHANG] ([MaKhoHang])
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO] CHECK CONSTRAINT [FK_PHIEUCHUYENKHO_KHOHANG]
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHUYENKHO_KHOHANG1] FOREIGN KEY([KhoNhap])
REFERENCES [dbo].[KHOHANG] ([MaKhoHang])
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO] CHECK CONSTRAINT [FK_PHIEUCHUYENKHO_KHOHANG1]
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHUYENKHO_NHANVIEN] FOREIGN KEY([NguoiChuyen])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO] CHECK CONSTRAINT [FK_PHIEUCHUYENKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHUYENKHO_NHANVIEN1] FOREIGN KEY([NguoiNhan])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUCHUYENKHO] CHECK CONSTRAINT [FK_PHIEUCHUYENKHO_NHANVIEN1]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_KHOHANG] FOREIGN KEY([KhoNhap])
REFERENCES [dbo].[KHOHANG] ([MaKhoHang])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_KHOHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP] FOREIGN KEY([NhaCungCap])
REFERENCES [dbo].[NHACUNGCAP] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN] FOREIGN KEY([NhanVienNhap])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[KiemTraDangNhap]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[KiemTraDangNhap] @manguoidung nvarchar(20), @matkhau nvarchar(20), @check char output
as
	if exists(select * from NGUOIDUNG nd where nd.MaNguoiDung = @manguoidung and nd.MatKhau = @matkhau)
		set @check = 'Y'
	else
		set @check = 'N'

GO
/****** Object:  StoredProcedure [dbo].[LayMatKhau]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LayMatKhau] @manguoidung nvarchar(20)
as
begin
	select nd.MatKhau from NGUOIDUNG nd where nd.MaNguoiDung = @manguoidung and nd.NhoMatKhau = '1'
end

GO
/****** Object:  StoredProcedure [dbo].[LoadDSNguoiDung]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LoadDSNguoiDung]
as
	select * from NGUOIDUNG

GO
/****** Object:  StoredProcedure [dbo].[LoadDSPhanQuyen]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LoadDSPhanQuyen] @MaNguoiDung varchar(20)
as
	select * from PHANQUYEN where MaNguoiDung = @MaNguoiDung

GO
/****** Object:  StoredProcedure [dbo].[LuuThongTinDangNhap]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LuuThongTinDangNhap] @manguoidung varchar(20)
as
	update NGUOIDUNG set NhoMatKhau = 1
	where MaNguoiDung = @manguoidung

GO
/****** Object:  StoredProcedure [dbo].[SuaKhachHang]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SuaKhachHang]
	@MaKhachHang varchar(20), @TenKhachHang nvarchar(50),
	@NguoiLienHe nvarchar(50), @DiaChi nvarchar(50),
	@LoaiKhachHang varchar(20), @Khuvuc varchar(20),
	@DienThoai varchar(13), @Fax varchar(15), @Email varchar(20),
	@Website varchar(20), @MaSoThue varchar(20), @SoTaiKhoan varchar(20),
	@NganHang nvarchar(50), @TinhTrang bit
as
	delete from KHACHHANG where MaKhachHang = @MaKhachHang
	insert into KHACHHANG values(@MaKhachHang, @TenKhachHang, @NguoiLienHe, @DiaChi, @LoaiKhachHang, @Khuvuc, @DienThoai, @Fax, @Email, @Website, @MaSoThue, @SoTaiKhoan, @NganHang, @TinhTrang)
	

GO
/****** Object:  StoredProcedure [dbo].[ThemKhachHang]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemKhachHang]
	@MaKhachHang varchar(20), @TenKhachHang nvarchar(50),
	@NguoiLienHe nvarchar(50), @DiaChi nvarchar(50),
	@LoaiKhachHang varchar(20), @Khuvuc varchar(20),
	@DienThoai varchar(13), @Fax varchar(15), @Email varchar(20),
	@Website varchar(20), @MaSoThue varchar(20), @SoTaiKhoan varchar(20),
	@NganHang nvarchar(50), @TinhTrang bit
as
	insert into KHACHHANG values(@MaKhachHang, @TenKhachHang, @NguoiLienHe, @DiaChi, @LoaiKhachHang, @Khuvuc, @DienThoai, @Fax, @Email, @Website, @MaSoThue, @SoTaiKhoan, @NganHang, @TinhTrang)


GO
/****** Object:  StoredProcedure [dbo].[ThemKhuVuc]    Script Date: 1/14/2017 1:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemKhuVuc] @MaKhuVuc varchar(20), @TenKhuVuc nvarchar(50), @Ghichu nvarchar(50), @Tinhtrang bit
as
	insert into KHUVUC values(@MaKhuVuc, @TenKhuVuc, @Ghichu, @Tinhtrang)

GO
USE [master]
GO
